h1 {
  text-align: center;
  color: whitesmoke;
  font: bold 60px 'Times New Roman', Times, serif;
  margin: 50px 30px 5px;
}
.tvShowProfiles{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(209, 209, 224, 0.3);
  margin: 50px;
}

h2 {
  color:whitesmoke;
  font: italic 30px 'Times New Roman', Times, serif;
  text-align: center;
  
}

h3 {
 color: whitesmoke;
 font: 30px 'Times New Roman', Times, serif;
}

h4{
 color: whitesmoke;
 font: bold 20px 'Times New Roman', Times, serif;
}

p{
  color: whitesmoke;
  font: 15px 'Times New Roman', Times, serif;
  border: 2px black solid;
  background-color: black;
}
img {
  height: 250px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  align-self: center;
  border: 2px black solid;
}

